# Dependencies
node_modules/

# Build output
dist/
build/

# Expo
apps/mobile/.expo/
apps/mobile/web-build/

# Native
apps/mobile/ios/
apps/mobile/android/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
